[user]
	name = dongsunoh
	email = dongsun.oh@gmail.com
[core]
	excludesfile = /Users/dongsun/.gitignore_global
	precomposeunicode = true
	quotepath = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/dongsun/.stCommitMsg
[merge]
	tool = kdiff3
